*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(218, 237, 255);
}

$choklet: #4d2e07;

.w_wrapper {
  width: 200px;
  margin: 20px auto;
  position: relative;
  .w_main {
    position: absolute;
    left: 50%;
    top: 30px;
    z-index: 9;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // overflow: hidden;
    padding: 20px;
    background: $choklet;
    box-shadow: 0 0 15px inset rgba(127, 104, 156, 0.9);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.4);
    }
    .w_watch {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 15px inset rgba(0, 0, 0, 0.5);
      transform: rotate(-5deg);

      span.sec {
        display: block;
        width: 1px;
        height: 50%;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform-origin: bottom;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 7px;
          width: 1px;
          border-left: 1px solid #232323;
        }
      }
      @for $sec from 13 through 73 {
        span.sec:nth-child(#{$sec}) {
          transform: translateX(-50%) rotate(calc(360deg * (#{$sec} / 60)));
        }
      }

      // small pin of watch
      span.hour {
        display: block;
        width: 1px;
        height: 50%;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform-origin: bottom;
      }
      @for $hr from 1 through 12 {
        span.hour:nth-child(#{$hr}) {
          transform: translateX(-50%) rotate(calc(360deg * (#{$hr} / 12)));
        }
      }

      // watch elements
      .center_point {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: #000;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.6);
      }

      // second counter
      #second_counter {
        display: block;
        width: 1px;
        height: calc(50% - 20px);
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform-origin: bottom;
        border-right: 1px solid #232323;
        transform: translateX(-50%) rotate(calc(360deg * (0 / 60)));
      }

      // minute counter
      #minute_counter {
        display: block;
        width: 2px;
        height: calc(50% - 35px);
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform-origin: bottom;
        border-right: 2px solid #232323;
        transform: translateX(-50%) rotate(calc(360deg * (0 / 60)));
      }
    }
  }
  .w_support {
    height: 500px;
    width: 100%;
    background: $choklet;
    clip-path: polygon(0 0, 100% 0, 54% 100%, 44% 100%);
  }
}

// controls
.controls {
  text-align: center;
  button {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
